body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  margin-bottom: -.2em;
}

::selection {
  background: #ff3e00;
  color: #fff;
}

a {
  color: #ff3e00;
  text-decoration: underline;
}