$font: 'Overpass', sans-serif
$theme-color: #ff3e00
$primary-font-color: #4A4A55
$secondary-font-color: #444
  
=page
  padding: 2em 15vw 3em

  @media screen and (max-width: 720px)
    padding:
      left: 10vw
      right: 10vw